<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <div class="row">
  <div class="col-md-6 col-md-offset-3">
        <p>ようこそ！A_EYouの世界へ。</p>
        <!-- 一段下のformヘルパはカリキュラム6-5.4からコピペ。変数部分を後でカリキュラムに従い変更されたし -->
        <%= form_for(:session, url: login_path) do |f| %>


      
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.submit "Log in", class: "btn btn-primary" %>
        
        <% end %>
        
        
            <p>New user? 
        <%= link_to "Sign up now!", signup_path %>
        </p>
          </div>
        </div>
            </body>
</html>
